<section class="home-container">
  <div class="sidebar">
    sidebar
  </div>
  <header class="home__header__main">
    Header
  </header>
  <div class="home__header__sub">
  Header Sub
  </div>
  <section class="home__features">
Features
  </section>

  <section class="home__story">
    <div class="home__story__pictures">
  Story images
    </div>
    <div class="home__story__content">
Story content
    </div>
  </section>
  <section class="home__trips">
Trips
  </section>

  <section class="articles">
Articles
  </section>

  <section class="footer">
Footer
  </section>
</section>
