<section class="home-container">
  <header class="home__header__main">
    Header
  </header>
  <div class="home__header__sub">
  Header Sub
  </div>
  <section class="home__features">
Features
  </section>
  <div class="home__story__pictures">
      story__pictures
  </div>

  <div class="home__story__content">
      <h3 class="heading-3 mb-sm">Happy Customers</h3>
  
  </div>


  <section class="home__trips">
Trips
  </section>

  <section class="home__articles">
Articles
  </section>

  <footer class="footer">
Footer
</footer>
</section>
